.heading {
  composes: heading from "../../components/Dialog.module.css";
}

.body {
  composes: body from "../../components/Dialog.module.css";
}

.dot {
  composes: dot from "../../components/Dialog.module.css";
}

.ok {
  composes: ok from "../../components/Dialog.module.css";
}

.warn {
  composes: warn from "../../components/Dialog.module.css";
}

.actions {
  composes: actions from "../../components/Dialog.module.css";
}

.primary {
  composes: primary from "../../components/Dialog.module.css";
}

.secondary {
  composes: secondary from "../../components/Dialog.module.css";
}
